    //*? index o portada web

// hero section 
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../img/portada.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

&-content {
    z-index: 2;
}

&-logo {
    width: 550px;
    max-width: 80%;
    display: block;
    margin: 0 auto 20px;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 36px;
    margin-bottom: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

&-buttons {
    position: absolute;
    bottom: 40px;
    left: 90px;
    display: flex;
    align-items: center;
    gap: 20px;

button {
    font-family: 'Press Start 2P', cursive;
    background-color: #665cbe;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 20px;
    transition: background-color 0.3s;

    &:hover {
        background-color: #574eb3;
    }
}

.trailer-btn {
    padding: 8px 30px;
    font-size: 14px;

    &:hover {
        background-color: #574eb3;
    }
}

img {
    width: 40px;
    height: 40px;
    transition: transform 0.2s;

    &:hover {
        transform: scale(1.1);
      }
    }
  }

// botones tienda hero section
.store-icon {
    width: 40px;
    height: auto;
    margin: 0 5px;
    vertical-align: middle;
  }
}

// productos 
.productos-a {
    background: url('../img/fondo-1.png') center no-repeat;
    padding: 60px 20px;
    text-align: center;
    color: #AD8B54;
    font-family: 'Press Start 2P', cursive;

> div:nth-child(1),
> div:nth-child(2),
> div:nth-child(3) {
    background-image: url('../img/fondo-1.png');
  }
}

.titulo-productos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
    text-align: center;

img {
    width: 70px;
}

h2 {
    font-size: 30px;
    text-transform: uppercase;
}
}

.productos-seccion {
    background: url('../img/fondo-1.png') center no-repeat;
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: visible;
    min-height: 950px;
}

.fondo-edicion-fisica,
.fondo-edicion-digital,
.fondo-3 {
    position: absolute;
    width: 100%;
    background-image: url('../img/fondo-1.png');
    background-repeat: repeat-y;
    background-size: contain;
    background-position: center;
    z-index: 0;
    pointer-events: none;
}

.fondo-edicion-fisica {
    height: 950px;
}

.fondo-edicion-digital {
    height: 850px;
    top: 0;
    left: 0;
}

.fondo-3 {
    bottom: 0;
    height: 950px;
}

.productos-caja {
    position: relative;
    z-index: 1;
    background-color: #665CBE;
    padding: 40px 30px;
    border-radius: 12px;
    max-width: 1000px;
    width: 100%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

.productos-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 30px;

h2 {
    color: white;
    font-size: 18px;
}

img {
    width: 32px;
  }
}

.productos-ab {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.producto {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    background-color: #18052C;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-family: 'Press Start 2P', cursive;
    flex-wrap: wrap;
    justify-content: center;

img {
    width: 500px;

    &.img-standar {
    width: 380px !important;
    }
  }
}

.producto-fila {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.producto-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;
    margin-top: 25px;

p {
    font-size: 16px;
    text-transform: uppercase;
  }

select {
    width: 100%;
    background-color: #2C1460;
    color: #fff;
    border: none;
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
  }
}

.productos-digital {
    background: url('../img/fondo-1.png') center/cover no-repeat;

.producto img {
    width: 380px;
}

.productos-caja {
    padding-bottom: 5px;
  }
}

.productos-contenedor {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.titulo-edicion-fisica,
.titulo-edicion-digital {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 20px;

h3 {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
}

img {
    width: 60px;
  }
}

    //*? introducción y jugabilidad

// seccion rejugabilidad
.rejugabilidad {
    background-image: url('../img/fondo-2.png');
    background-size: 100% 50%;
    background-repeat: repeat-y;
    background-position: top center;
    width: 100%;
    padding: 80px 20px;
    color: white;
    text-align: center;
    font-family: $font-retro;
    box-sizing: border-box;

h2 {
    font-size: 20px;
    color: $color-dorado-claro2;
    margin-bottom: 30px;
    font-family: $font-retro;
}

p {
    font-family: $font-main;
    font-size: 14px;
    line-height: 1.8;
    max-width: 800px;
    margin: 0 auto;
}
} 

.rejugabilidad-alt {
    background-image: url('../img/fondo-2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    padding: 60px 80px;
    box-sizing: border-box;

.cajas-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.caja {
    width: 300px;
    background-color: $color-morado-oscuro;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

    img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    }

    h3 {
    font-family: $font-retro;
    font-size: 16px;
    margin-bottom: 10px;
    color: white;
    }

    p {
    font-family: $font-main;
    font-size: 14px;
    color: #ddd;
    }
  }
}

//*? Personajes

// sección traumas
.traumas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: black;
    padding: 60px 20px;
    text-align: center;
    color: #d4af37;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 25px;
    text-transform: uppercase;

.imagen-trauma {
    order: -1;
    width: 150px;
    height: 150px;
}
}

.trauma-cajas {
    background-image: url('../img/fondo-2.png');
    background-repeat: repeat-y;
    background-size: 100% 50%;
    background-position: top center;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.trauma-caja {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    background: rgba(108, 81, 141, 0.9);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    overflow: visible;

&.invertida {
    flex-direction: row-reverse;
}
}

.trauma-img {
    flex: 1 1 40%;
    min-width: 0px;
    min-height: 220px;
    background-size: cover;
    background-position: center;
    border-radius: 6px;
}

.trauma-texto {
    flex: 1 1 55%;
    color: white;
    font-family: Arial, sans-serif;

h2,
h3,
p {
    margin: 0 0 10px 0;
}

h2,
h3 {
    font-weight: bold;
}

p {
    font-size: 0.95rem;
    line-height: 1.4;
  }
}

.traumas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: black;
    padding: 60px 20px;
    text-align: center;
    color: #d4af37;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 25px;
    text-transform: uppercase;

.imagen-trauma {
    order: -1;
    width: 150px;
    height: 150px;
}
}

.trauma-cajas {
    background-image: url('../img/fondo-2.png');
    background-repeat: repeat-y;
    background-size: 100% 50%;
    background-position: top center;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.trauma-caja {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    background: rgba(108, 81, 141, 0.9);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    overflow: visible;

&.invertida {
    flex-direction: row-reverse;
}
}

.trauma-img {
    flex: 1 1 40%;
    min-width: 0px;
    min-height: 220px;
    background-size: cover;
    background-position: center;
    border-radius: 6px;
}

.trauma-texto {
    flex: 1 1 55%;
    color: white;
    font-family: Arial, sans-serif;

h2,
h3,
p {
    margin: 0 0 10px 0;
}

h2,
h3 {
    font-weight: bold;
}

p {
    font-size: 0.95rem;
    line-height: 1.4;
  }
}

//*? Tienda

// Estilos Exclusivos de tienda
.tienda-wrapper {
    background-image: url('../img/fondo-tienda.png'); 
    background-size: cover;
    background-position: center;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;

section {
    background: white;
    max-width: 1400px;
    padding: 2rem;
    box-sizing: border-box;

    > div:first-child {
    position: relative;
    text-align: center;
    margin-bottom: 3rem;

    img {
        width: 100%;
        height: auto;
        display: block;
        margin-bottom: 1rem;
    }

    h2 {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-family: 'Press Start 2P', sans-serif;
        font-size: 23px;
        font-weight: bold;
        margin: 0;
    }
}

    > div:nth-child(n+2):nth-last-child(n+2) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        margin-bottom: 2rem;

    > div {
        text-align: center;
        background: none;
        width: 300px;
        margin: 0 auto;

    img {
        width: auto;
        max-width: 300px;
        height: auto;
        margin-bottom: 0.5rem;
        }
    }
}

    p {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 1rem;
        margin: 0.5rem 0 1rem;
        text-transform: capitalize;
    }

    a {
    button {
        background-color: #6f57d6;
        color: white;
        padding: 0.5rem 1rem;
        border: none;
        font-weight: bold;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #5b45b3;
        }
    }
}

    > div:last-child {
        text-align: center;

    a {
        button {
        margin-top: 2rem;
        font-size: 1.1rem;
        padding: 0.75rem 2rem;
        }
      }
    }
  }
}

//*? Contacto

// estilos contacto
#contacto {
    background-image: url('../img/portada-contacto.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 60px 40px;
    color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

.contenido {
    font-family: 'Nunuto Sans', sans-serif;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    margin-top: 60px;

    h2 {
    font-size: 30px;
    }
}

h2 {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}

p,
address {
    font-size: 16px;
    margin-bottom: 10px;
    color: #ddd;
    text-align: left;
}

hr {
    border: none;
    border-top: 2px solid #aaa;
    margin: 20px 0;
}

form {
    div:first-child {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    }

    > div:last-child {
    text-align: center;
    margin-top: 20px;
    }
}

input[type='text'],
input[type='email'],
textarea {
    padding: 10px;
    border: none;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

button.btn-enviar {
    background-color: #866dd6;
    color: white;
    border: none;
    padding: 10px 0;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    border-radius: 25px;
    cursor: pointer;
    width: 50%;
    max-width: 400px;
    transition: background-color 0.3s ease;

    &:hover {
    background-color: #553d99;
    }
  }
}








